/* .place__wrapper {
    width: 484px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:1024px) {
    .place__wrapper {
        width: 456px;
        padding: 0;
        margin: 0;
    }
} */

@media screen and (max-width:768px) {
    .place__wrapper {
        width: 352px;
        /* margin: 0 auto; */
    }
} 

@media screen and (max-width:320px) {
    .place__wrapper {
        width: 100%;
        /* margin: 0 auto; */
    }
} 