.footer__copyright {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.footer__copyright:hover {
    opacity: 0.5;
}

@media screen and (max-width:320px) {
    .footer__copyright {
        margin-top: 48px;
        width: 186px;
        font-size: 14px;
        line-height: 14px;
    }
}