.footer__copyright {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.footer__copyright:hover {
  opacity: 0.5;
}

@media screen and (max-width:704px) {
  .footer__copyright {
    margin-top: 48px;
    width: 186px;
    font-size: 14px;
    line-height: 14px;
  }
}
