.intro {
  padding: 92px 0;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1025px){
  .intro {
    max-width: 928px;
    padding: 88px 24px;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    max-width: 720px;
    padding: 64px 16px;
  }
}
