.lead__subtitle {
  width: 640px;
  font-family: 'Inter';
  font-size: 1.9rem;
  font-weight: 400;
  margin: 32px 0 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width:320px) {
  .lead__subtitle {
    width: 288px;
    font-size: 1rem;
    line-height: 20px;
  }
}
