.place__link {
  margin: 0;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
<<<<<<< HEAD
  text-decoration-line: underline;
=======
  opacity: 1;
>>>>>>> main
  transition: opacity 0.5s ease-in-out;
}

.place__link:hover {
  opacity: 0.5;
}
