.place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 48px 40px;
}

.place:first-child {
  padding-top: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    padding-top: 73px;
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
  }

  .place:first-child {
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding-top: 50px;
    grid-template-columns: minmax(288px, 1fr);
    grid-gap: 32px;
  }

  .place:first-child {
    padding-top: 64px;
  }
}

